body{
        	background-color: #f0f8ff;
        }
div{
	width: 75%;
	min-width: 500px;
	border: solid 1px #333333;
	padding: 1em;
	margin: 0.5em;
	background-color: white;
	border-radius:0.5em;
	box-shadow: 3px 3px 3px black;
}
.a{

    font-weight: bold;
    background-color: #fdca96;
    padding: 0em 0.5em 0em 0.5em;"
	}
.b{
   font-weight: bold;
   background-color: #fdfd96;
   padding: 0em 0.5em 0em 0.5em;">
}
#pp{
	color: red; 
	border: red; 
	border-style: dashed ;
	box-shadow: 3px 3px 3px red;"
}
#pp span{
	font-weight: bold;
    background-color: #fdfd96;
    padding: 0em 0.5em 0em 0.5em;">
}

